*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section{
    border: 2px solid red;
    background-color: aqua;
    display: flex;
    justify-content: center;

}

.section>div{
    width: 80%;
    border: 2px solid red;
    background-color: bisque;
   

}
.section>div>h1{
    color: red;
    
}
.section>div>h2{
    color: rgb(186, 7, 192);
    
}
.section>div>button{
color: red;
width: 30%;

}